body {
  background-color: #f9f3f3; /* Rosa claro quase branco */
  margin: 0; /* Remove margens padrão do body */
}
.fundoLogin {
  background-image: url(../../assets/img/asaswinx.jpg);
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 100%;
  background-size: contain;
  background-position: right; 
}
.login-container {
  display: flex;
  justify-content: flex-end; /* Alinha o formulário à direita */
  align-items: center; /* Centraliza verticalmente */
  height: 100vh;
  width: 100%;
  padding: 0; /* Remove padding se necessário */
}

.login-form {
  background-color: #fff; /* Fundo branco para o formulário */
  border: 2px solid #f78da7; /* Borda rosa claro */
  border-radius: 12px; /* Bordas arredondadas */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra suave */
  padding: 20px; /* Espaçamento interno */
  max-width: 400px; /* Largura máxima do formulário */
  width: 100%; /* Largura total do formulário */
  margin-left: 250px; /* Ajuste o valor conforme necessário para o espaço à direita */
  z-index: 1; /* Garante que o formulário esteja acima da imagem de fundo */
}

.login-title {
  color: #d14d72; /* Rosa escuro */
  background-color: #d14d72; /* Fundo rosa escuro */
  border-radius: 20px; /* Bordas arredondadas */
  color: white;
  text-align: center;
  padding: 10px;
  font-size: 2rem;
  margin-bottom: 20px;
}

.input-group {
  margin-bottom: 15px;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.login-input {
  border: 2px solid #f78da7; /* Borda rosa claro */
  border-radius: 20px; /* Bordas arredondadas */
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
}

.login-input:focus {
  border: 2px solid #941d58; /* Borda rosa escuro */
  background-color: #e6f5f1; /* Fundo lavanda pastel claro */
  color: #000; /* Texto preto */
}

.login-button {
  background-color: #fc3153; /* Cor de fundo rosa claro */
  color: #fff; /* Cor do texto em branco */
  border: none;
  border-radius: 8px; /* Bordas arredondadas */
  padding: 10px 30px; /* Espaçamento interno */
  font-size: 16px; /* Tamanho da fonte */
  font-weight: bold; /* Deixa a fonte mais grossa */
  cursor: pointer; /* Muda o cursor para indicar um botão clicável */
  display: block; /* Necessário para a margem automática funcionar */
  margin: 0 auto; /* Centraliza horizontalmente */
}

.login-button:hover {
  background-color: #4fc3f7; /* Cor de fundo azul claro quando o mouse passa sobre o botão */
  color: #000; /* Cor do texto em preto quando o mouse passa sobre o botão */
}



.login-divider {
  border: 1px solid #f78da7; /* Linha rosa claro */
  margin: 20px 0;
}

.signup-text {
  text-align: center;
}

.signup-link {
  color: #8000a0; /* Fucsia */
  text-decoration: underline;
}


/*.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f2f2;
  }
  
  .login-form {
    background-color: rgb(250, 219, 236);
    border: 2px solid #e91e63;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 400px;
  }
  
  .title-container {
    background-color: #aa0f43;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding: 10px;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .login-title {
    color: white;
    font-size: 2rem;
    font-weight: bold;
  }
  
  .login-input-container {
    margin-bottom: 20px;
  }
  
  .login-input {
    border: 2px solid #e91e63;
    border-radius: 8px;
    padding: 10px;
    width: 100%;
  }
  
  .login-button {
    background-color: #e91e63;
    color: white;
    text-align: center;
    padding: 10px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    width: 50%;
    margin: 0 auto;
    display: block;
    border: none;
  }
  */