.home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f2f2;
  }
  
  .home-content {
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border: 2px solid #e91e63;
  }
  
  .home-title {
    color: #e91e63;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .home-user {
    color: #333;
    text-align: center;
    margin: 10px 0;
  }
  
  .home-button {
    display: block;
    background-color: #e91e63;
    color: white;
    text-align: center;
    padding: 10px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    margin-top: 20px;
  }
  